<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Article</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body dir="rtl" class="bg-light">
<div class="container p-5 my-5 bg-dark text-white rounded">
    <div class="row">
        <div >
            <h2 class="text-center">
                اطلاعات مشتری
            </h2>
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <hr>
                    <button type="submit" class="btn btn-secondary btn-block">ثبت</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>